footer.footer 
    div.container
        .footer__container
            div.footer__col
                a(href="/").logo.footer__logo
                    span.logo__icon //
                    span.logo__text Naumenko
                p.copiryte © 2021 Tetiana Naumenko
            div.footer__contacts
                a.contacts__item(href="https://web.telegram.org/#/im?p=@TanyaNaumenko")
                    | @TanyaNaumenko                
                    svg.contacts__svg
                        use(xlink:href="#telegram")  
                a.contacts__item.main-color(href="tel:+380931282717")
                    | +38 (093) 128 27 17
                    svg.contacts__svg
                        use(xlink:href="#phone")
    
                a.contacts__item(href="mailto:barvinok.cn@gmail.com")
                    | barvinok.cn@gmail.com                
                    svg.contacts__svg
                        use(xlink:href="#email")
