header.header
	.container.header__container
		a(href="/").logo
			span.logo__icon //
			span.logo__text Naumenko
		button.navbutton#navButton
			span.navbutton__line
			span.navbutton__line
			span.navbutton__line
nav.nav#nav(style="display:none")
	ul.nav__list
		li.nav__item
			a.nav__link(href="#") Link1
		li.nav__item
			a.nav__link(href="#") Link3
		li.nav__item
			a.nav__link(href="#") Link5